file-to-db/src/main/mule/file-to-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="file-to-dbFlow" doc:id="57118c08-9ae4-4c29-bf8a-c4fa433b702f" >
		<file:listener doc:name="On New or Updated File" doc:id="919b2d43-0716-421c-b40d-54a883b91caf" outputMimeType="application/csv" config-ref="File_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="MINUTES"/>
			</scheduling-strategy>
			<file:matcher filenamePattern="*.txt" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="39ee45e1-79c9-4b0a-a546-af6be4e7ab75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map
{
	id: $.id,
	name:$.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="1a36e10e-8e87-46db-99ed-2b2202c549b9">
			<db:sql >INSERT INTO TEST VALUES(:id,:name)</db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="a420429e-7929-491d-8a3b-dcb5feb42b7d" message="Records inserted : #[sizeOf(payload)]"/>
	</flow>
</mule>
