compression-and-archive/src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="commonFlow" doc:id="5affe26c-e51e-4428-a694-5d37d699dfed" >
		<http:listener doc:name="HTTP send xml back" doc:id="954c9cef-756b-40cb-89ae-ef06e1ad6956" config-ref="HTTP_Listener_config" path="/xml"/>
		<ee:transform doc:name="send xml" doc:id="c5ec43a2-6168-459b-babb-802f0e09e219" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{"root": payload}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="601121ab-d794-492d-a46b-7d1c294252b0" message="#[payload]"/>
	</flow>
</mule>
